<h1>Update Task Description</h1>

<form action="task/$task.getId()" method="post">
  <label for="task_description">Task Description</label>
  <input type="submit" class="btn btn-info" value="$task.getDescription()" type="text">
  <button type="submit">Update Task Description</button>
</form>

<p><a href="/">Home</a></p>
